@import "https://unpkg.com/flickity@2/dist/flickity.min.css";
html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  text-decoration: none; }

body {
  min-width: 290px;
  max-width: 2000px;
  font-size: 15px;
  overflow-x: hidden;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  color: white;
  font-weight: 700; }

.sm-menu__nav {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 100;
  color: white; }

.intro h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3.7rem;
  font-weight: 200;
  line-height: 5.5rem;
  text-align: center;
  margin-bottom: 2rem; }

.intro h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 200; }

.headline {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 4rem; }
  .headline--blue {
    color: #1A1D61; }
  .headline--gold {
    color: #E0BA1B; }
  .headline--white {
    color: white; }
  .headline--small {
    font-size: 3rem; }

.service-text__text {
  font-family: "Monserrat", serif;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 300;
  color: #1A1D61; }
  .service-text__text--b {
    font-size: 1.4rem;
    line-height: 1.3; }

.service-cards {
  font-family: "Monserrat", serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4; }
  .service-cards a {
    color: #1A1D61; }

.review-name {
  font-size: 3rem;
  font-family: "Raleway", sans-serif; }

.review-text {
  font-size: 1.2rem;
  font-family: "Monserrat", serif; }

.contact {
  color: #E0BA1B; }
  .contact__detail {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem; }
  .contact a {
    color: #E0BA1B; }

.kodex__text p {
  color: white;
  font-family: "Monserrat", serif; }

.about {
  color: white; }
  .about__text {
    font-family: "Monserrat", serif;
    color: #1A1D61;
    font-size: 1.4rem;
    line-height: 1.4;
    color: white; }

.cenik h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 2rem; }

.cenik span {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 700; }

.cenik li {
  font-size: 1.4rem; }
  .cenik li p {
    font-family: "Monserrat", serif;
    font-size: 1.2rem; }

address {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5; }

.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .page-container hr {
    width: 50%;
    border: 1px solid #E05B12;
    margin: 0 auto;
    margin-bottom: 3rem; }

.waves-up {
  filter: drop-shadow(4px -8px 10px rgba(50, 143, 224, 0.6)); }

.waves-down {
  filter: drop-shadow(-4px 8px 10px rgba(50, 143, 224, 0.6)); }

.headline {
  text-align: center;
  margin-bottom: .5rem; }

html {
  scroll-behavior: smooth; }

main {
  display: flex;
  flex-direction: column;
  align-items: center; }

.btn {
  width: 4.2rem;
  height: 4rem;
  background: #E05B12;
  border: none;
  border-radius: 50%;
  cursor: pointer; }

.navbar {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  left: 0;
  padding-top: 1rem;
  width: 100%;
  height: 2rem; }
  .navbar__nav, .navbar__logo {
    display: none; }
  .navbar__ham {
    z-index: 1000;
    margin-right: .7rem; }
  .navbar__ham:hover {
    scale: 1.1; }

.sm-menu {
  display: flex;
  background-color: #3D42E0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }
  .sm-menu__nav {
    padding: 2rem 0; }
  .sm-menu__close {
    position: absolute;
    top: 1rem;
    right: 0;
    margin-right: .7rem; }
  .sm-menu__close:hover {
    scale: 1.1; }

.sm-menu-enter-active {
  transition: all .3s; }

.sm-menu-enter {
  transform: translate(100%);
  opacity: 0; }

.intro {
  height: 80vh;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  background-color: #328FE0;
  color: white; }
  .intro img {
    width: 18rem;
    box-sizing: border-box; }

.service-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 1.5rem; }
  .service-text__text, .service-text__text--b {
    padding-left: 0.8rem;
    padding-right: 0.8rem; }

.service-cards {
  list-style: none;
  margin: 3rem 0; }
  .service-cards li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 1.5rem;
    margin: 2rem 1rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 5px #D8F2FF; }
  .service-cards img {
    width: 9rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }

.carousel-container {
  width: 100%;
  height: 44rem;
  background: linear-gradient(to bottom, white 30%, #328FE0 30%); }
  .carousel-container__hr {
    margin-bottom: 0; }

.main-carousel {
  height: 34rem; }

.carousel-cell {
  /*border: 1px solid green;*/
  width: 85%;
  height: 34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }
  .carousel-cell img {
    width: 10rem;
    /*border: 1px solid red;*/ }
  .carousel-cell .review-name {
    margin: 0;
    margin-top: .5rem; }
  .carousel-cell .review-text {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 90%; }

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-bottom: 2rem;
  width: 100%; }
  .contact__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0; }
  .contact h1 {
    text-align: center;
    margin-bottom: 1rem; }
  .contact__icons {
    font-size: 5rem;
    font-weight: 200;
    color: #E0BA1B;
    padding-bottom: 1.2rem; }
  .contact hr:last-of-type {
    border: 1px solid #E0BA1B;
    margin: 2rem auto;
    width: 70%; }

.far .fas {
  font-weight: 200; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #328FE0;
  margin: 0;
  padding-bottom: 2rem; }
  .about__text {
    padding-bottom: 2rem;
    padding-left: .8rem;
    padding-right: .8rem; }
  .about .no-mobile {
    display: none; }

.kodex {
  background-color: #328FE0;
  padding-bottom: 2rem; }
  .kodex h1 {
    padding-top: 2rem; }
  .kodex__text {
    padding: 0 1rem; }
    .kodex__text p {
      padding-bottom: 1rem; }

.cenik {
  padding: 0 1rem;
  white-space: pre-line; }
  .cenik h1 {
    padding-top: 3rem; }
  .cenik h3 {
    text-align: center; }
  .cenik ul {
    list-style: none;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .cenik ul li {
      width: 80%;
      padding: 1rem 1rem;
      margin: 1rem auto;
      text-align: center;
      color: #1A1D61;
      background: rgba(224, 186, 27, 0.2);
      border-radius: 2rem; }
      .cenik ul li span {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 1rem 0; }
      .cenik ul li p {
        margin: 1rem auto;
        text-align: left; }

footer {
  width: 100%;
  background: #E05B12;
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem; }

address {
  padding: 1rem;
  white-space: pre-line; }
  address hr {
    width: 100%;
    border: 1px solid white;
    margin: 1.5rem 0; }
