@import "https://unpkg.com/flickity@2/dist/flickity.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  text-decoration: none; }

body {
  min-width: 300px;
  max-width: 2400px;
  font-size: 15px;
  overflow-x: hidden;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center; }

.intro h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 100;
  line-height: 5.5rem;
  padding-left: 1.4rem;
  margin-bottom: 2rem; }

.intro h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 100; }

.service-text__text {
  font-family: "Monserrat", serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 300; }

.service-cards {
  font-family: "Monserrat", serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6rem; }

.social-proof {
  font-family: "Monserrat", serif;
  font-size: 1.2rem; }
  .social-proof__name {
    font-family: "Roboto", sans-serif;
    font-size: 2rem; }

.page-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.navbar {
  display: none; }

.intro {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  background: linear-gradient(180deg, #328FE1 75%, white 100%);
  color: white; }
  .intro img {
    width: 80%;
    box-sizing: border-box; }

.service-text {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.service-cards {
  list-style: none; }
  .service-cards li {
    display: flex;
    height: 6rem;
    align-items: center;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0 .5rem;
    margin: 1rem; }
  .service-cards img {
    width: 4rem;
    padding-right: 1rem; }

.container {
  width: 100vw;
  height: 40rem; }

.main-carousel {
  height: 25rem; }

.carousel-cell {
  /*border: 1px solid green;*/
  width: 85%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .carousel-cell img {
    width: 40%;
    /*border: 1px solid red;*/ }
  .carousel-cell .review-name {
    margin: 0;
    margin-top: .5rem;
    font-size: 3rem; }
  .carousel-cell .review-text {
    margin-top: 2rem;
    margin-bottom: 1rem; }

main {
  display: flex;
  flex-direction: column;
  align-items: center; }
