$roboto: "Roboto", sans-serif;
$monserrat: "Monserrat", serif;

$primary-blue: #328FE1;
$bg_red: rgb(209,74,59);
$bg-ocre: rgb(237,221,212);
$dark-red: #772e25; 
$secondary-ocre: rgb(214,178,156);
$correct-green: rgb(53,222,109);
$banner: rgb(255, 255, 255);
$terciary-green: rgb(38, 224, 217);