$roboto: "Roboto", sans-serif; //asi smazat roboto, nebudu to asi používat
$monserrat: "Monserrat", serif;
$raleway: "Raleway", sans-serif;

$primary-blue: #328FE0;
$bg_red: rgb(209,74,59);
$bg-ocre: rgb(237,221,212);
$dark-red: #772e25;
$banner: rgb(255, 255, 255);
$terciary-green: rgb(38, 224, 217);

//new palette

$n-darkest-blue: #1A1D61;
$n-dark-blue: #3D42E0;
$n-red: #E05B12;
$n-gold: #E0BA1B;
$n-light-blue: #26E0D9;