$monserrat: "Monserrat", serif;
$raleway: "Raleway", sans-serif;

$primary-blue: #328FE0;
//new palette

$n-darkest-blue: #1A1D61;
$n-dark-blue: #3D42E0;
$n-red: #E05B12;
$n-gold: #E0BA1B;
$n-light-blue: #26E0D9;