.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-blue; 
    margin: 0;

    &__text {
        padding-bottom: 1rem;
        padding-left: .8rem;
        padding-right: .8rem;
    }

    .no-mobile {
        display: none;
    }
}