.intro {
    width: 100%;
    height: 70vh;
    min-height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    background-color: $primary-blue;
    color: white;

    @include md {
        padding-top: 3rem;
    }

    @include lg {
        display: none;
    }

    h1 {
        @include sm {
            margin-top: 1rem;
        }
    }
    

    img {
        width: 18rem;
        box-sizing: border-box;

        @include md {
            width: 22rem;
        }
    }
}