.intro {
    width: 100%;
    height: 80vh;
    min-height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    background-color: $primary-blue;
    color: white;

    img {
        width: 18rem;
        box-sizing: border-box;
    }
}