.kodex {
    background-color: $primary-blue;
    padding-bottom: 2rem;
    width: 100%;

    @include lg {
        order: 4;
    }

    h1 {
        padding-top: 2rem;
    }

    &__text {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        p {
            padding-bottom: 1rem;
        }
    }
}