.kodex {
    background-color: $primary-blue;
    padding-bottom: 2rem;

    h1 {
        padding-top: 2rem;
    }

    &__text {
        padding: 0 1rem;

        p {
            padding-bottom: 1rem;
        }
    }
}