.service-cards {
    list-style: none;
    
    li {
        display: flex;
        height: 6rem;
        align-items: center;
        border: 1px solid black;
        border-radius: 2rem;
        padding: 0 .5rem;
        margin: 1rem;
    }


    img {
        width: 4rem;
        padding-right: 1rem;

        //zkusit vymyslet, aby každý druhý měl hlavu vpravo, určitě to mám s pozadím u předchozí verze
    }


}