---
import Shell from '../../layouts/shell.astro';
import ContactForm from '../../components/ContactForm.astro';
---

<Shell title="Kontakt" description="Kontaktujte mě">
  <div class="mx-auto px-4 py-8 w-full">
    <ContactForm />
  </div>
</Shell>
