* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    }

a {
    text-decoration: none;
}

body {
    min-width: 290px;
    max-width: 2400px;
    font-size: 15px;
    overflow-x: hidden;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
