* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    }

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-size: 15px;
    @include lg {
        font-size: 19px;
    }
}

body {
    min-width: 290px;
    max-width: 2000px;
    overflow-x: hidden;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;

    }
