.intro {

    h1 {
    font-family: $roboto;
    font-size: 4rem;
    font-weight: 100;
    line-height: 5.5rem;
    padding-left: 1.4rem;
    margin-bottom: 2rem;
    }

    h2 {
    font-family: $roboto;
    font-size: 1.6rem;
    font-weight: 100;
    }

}

.service-text {

    &__text {
        font-family: $monserrat;
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 300;
    }
}

.service-cards {
        font-family: $monserrat;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.6rem;
}

.social-proof {
    font-family: $monserrat;
    font-size: 1.2rem;
    
    &__name {
        font-family: $roboto;
        font-size: 2rem;
    }
}