---
import Carousel from './Carousel.astro';
---

<div
  class="flex flex-col gap-4 overflow-hidden px-8 py-8 font-epilogue leading-relaxed text-white md:py-12"
>
  <Carousel />

  <article class="mx-auto max-w-3xl">
    <p class="text-lg leading-relaxed">
      Pracuji nejčastěji individuálně, ale současně poskytuji i skupinové konzultace. Na konzultaci
      mám možnost přizvat odborníky a odbornice, kteří nám mohou společně pomoci rozšířit Vaše
      možnosti. Velmi si rozumím také s mladými lidmi, kteří mohou mít podobné starosti nebo přání
      jako dospělí. Nabízím jim prostor, kde budou vyslyšeni při svých cestách, ve kterých hledají
      oporu.
    </p>
  </article>
</div>
