---
const { label, to, classList } = Astro.props;
---

<a
  href={to}
  class={`bg-contract-red text-white px-4 py-2 text-lg md:text-2xl font-cinzel rounded-md w-fit ${classList} hover:scale-105 transition-all duration-300`}
>
  {label}
</a>
