---
const navigationItems = [
  {
    label: 'Domů',
    href: '/',
  },
  {
    label: 'Média',
    href: '/media',
  },
  {
    label: 'O mně',
    href: '/o-mne',
  },
  {
    label: 'Kontakt',
    href: '/contact',
  },
];

const currentPath = Astro.url.pathname;
const filteredItems = navigationItems.filter(item => item.href !== currentPath);
---

<nav class="flex w-full px-6 py-4 text-darkest-blue">
  <ul class="flex w-full items-center justify-center gap-8 md:gap-12">
    {
      filteredItems.map(item => (
        <li class="font-cinzel text-lg transition-all duration-300 hover:scale-105 hover:text-contract-red md:text-xl">
          <a href={item.href}>{item.label}</a>
        </li>
      ))
    }
  </ul>
</nav>
